/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1000;
    transition: background .3s;
    backdrop-filter: blur(5px);
    /* border-bottom: 1px solid #2f2f2f; */
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-container {
    /* display: flex;
    align-items: center; */
    gap: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links button{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    
}

.nav-links button:hover,
.nav-links li.active button:hover,
.nav-links button[download]:hover span {
    background: linear-gradient(to right, #ff5722, #e91e63, #9c27b0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links li.active button{
    background: linear-gradient(to right, #ff5722, #e91e63, #9c27b0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, #ff5722, #e91e63, #9c27b0) 1;
}

.nav-links button[download]:hover svg {
    stroke: #e91e63;
}

.toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background: #333333;
    color: white;
    transition: background 0.3s;
}

/* Navigation Dots */
.nav-dots {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.dot {
    width: 12px;
    height: 12px;
    background: #444444;
    /* Dark gray for the dot */
    border-radius: 50%;
    transition: background 0.3s, transform 0.3s;
}

.dot.active {
    background: rgb(255, 255, 255);
    /* White for active dot */
    transform: scale(1.3);
}